{% extends 'public/frontend/base.html' %}

{% load static %}

{% block tittle %}
Login Page
{% endblock %}

{% block content %}



<section class="home-slider owl-carousel img" style="background-image: url({% static 'public/frontend/images/bg_1.jpg' %});">
	<div class="slider-item" style="background-image: url({% static 'public/frontend/images/bg_3.jpg' %});">
		<div class="overlay"></div>
	  <div class="container">
		<div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

		  <div class="col-md-7 col-sm-12 text-center ftco-animate">
			  <span class="subheading">Welcome to</span>
			<h1 class="mb-4">SUCCESS JUTONIA CAKES AND PASTRIES</h1>
			<p class="mb-4 mb-md-5">Relishing the sweetness of life. Make sure to savor the taste. We gat you.</p>
			<p><a href="#" class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3">View Menu</a></p>
		  </div>

		</div>
	  </div>
	</div>
	
	<div class="slider-item">
		<div class="overlay"></div>
	  <div class="container">
		<div class="row slider-text align-items-center" data-scrollax-parent="true">

		  <div class="col-md-6 col-sm-12 ftco-animate">
			  <span class="subheading">Delicious</span>
			<h1 class="mb-4">Meatpies</h1>
			<p class="mb-4 mb-md-5">You are assured of our crunchy and delicious meatpies. Unique and second to none. Fresh everyday.</p>
			<p><a href="#" class="btn btn-primary p-3 px-xl-4 py-xl-3">Order Now</a> <a href="#" class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3">View Menu</a></p>
		  </div>
		  <div class="col-md-6 ftco-animate">
			  <img src="{% static 'public/frontend/images/foodweb/slide1.jpg' %}" class="img-fluid" alt="">
		  </div>

		</div>
	  </div>
	</div>

	<div class="slider-item">
		<div class="overlay"></div>
	  <div class="container">
		<div class="row slider-text align-items-center" data-scrollax-parent="true">

		  <div class="col-md-6 col-sm-12 ftco-animate">
			  <span class="subheading">Mouth Watering</span>
			<h1 class="mb-4">Red Velvet Cakes</h1>
			<p class="mb-4 mb-md-5">Baking the difference. Don't forget Nothing beats SJC Cakes.</p>
			<p><a href="#" class="btn btn-primary p-3 px-xl-4 py-xl-3">Order Now</a> <a href="#" class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3">View Menu</a></p>
		  </div>
		  <div class="col-md-6 ftco-animate">
			  <img src="{% static 'public/frontend/images/foodweb/slide2.png' %}" class="img-fluid" alt="">
		  </div>

		</div>
	  </div>
	</div>

	<div class="slider-item">
		<div class="overlay"></div>
	  <div class="container">
		<div class="row slider-text align-items-center" data-scrollax-parent="true">

		  <div class="col-md-6 col-sm-12 order-md-last ftco-animate">
			  <span class="subheading">Yummy</span>
			<h1 class="mb-4">Cake Parfait</h1>
			<p class="mb-4 mb-md-5">Available and fresh in all flavours. Unique and heavenly taste</p>
			<p><a href="#" class="btn btn-primary p-3 px-xl-4 py-xl-3">Order Now</a> <a href="#" class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3">View Menu</a></p>
		  </div>
		  <div class="col-md-6 ftco-animate">
			  <img src="{% static 'public/frontend/images/foodweb/slide3.jpg' %}" class="img-fluid" alt="">
		  </div>

		</div>
	  </div>
	</div>

	<div class="slider-item">
		<div class="overlay"></div>
	  <div class="container">
		<div class="row slider-text align-items-center" data-scrollax-parent="true">

		  <div class="col-md-6 col-sm-12 ftco-animate">
			  <span class="subheading">Delicious</span>
			<h1 class="mb-4">Chocolate Doughnuts</h1>
			<p class="mb-4 mb-md-5">To all our Chocolate lovers, we have you in mind. Soft and Lovely Doughnuts, don't hesistate to reach out to us.</p>
			<p><a href="#" class="btn btn-primary p-3 px-xl-4 py-xl-3">Order Now</a> <a href="#" class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3">View Menu</a></p>
		  </div>
		  <div class="col-md-6 ftco-animate">
			  <img src="{% static 'public/frontend/images/foodweb/slide4.jpg' %}" class="img-fluid" alt="">
		  </div>

		</div>
	  </div>
	</div>

	<div class="slider-item">
		<div class="overlay"></div>
	  <div class="container">
		<div class="row slider-text align-items-center" data-scrollax-parent="true">

		  
		  <div class="col-md-6 ftco-animate">
			  <img src="{% static 'public/frontend/images/foodweb/slide0.png' %}" class="img-fluid" alt="">
		  </div>

		</div>
	  </div>
	</div>

  </section>

<div class="site-section">
    <div class="container">
      <div class="row">
     
        <div class="col-md-12 col-lg-8 mb-5">
        
        <form action="#" class="p-5 bg-white border">
            <div class="row form-group">
              <div class="col-md-12 mb-3 mb-md-0">
                <label class="font-weight-bold" for="username">Username</label>
                <input type="text" id="username" class="form-control" placeholder="Username">
              </div>
            </div>
            <div class="row form-group">
              <div class="col-md-12 mb-3 mb-md-0">
                <label class="font-weight-bold" for="password">Password</label>
                <input type="password" id="password" class="form-control" placeholder="Password">
              </div>
            </div>
            <div class="row form-group">
              <div class="col-md-12">
                <input type="submit" value="Login" class="btn btn-primary  py-2 px-4 rounded-0">
              </div>
            </div>
          </form>
        </div>

        <div class="col-lg-4">
          <div class="p-4 mb-3 bg-white">
            <h3 class="h6 text-black mb-3 text-uppercase">Contact Info</h3>
            <p class="mb-0 font-weight-bold">Address</p>
            <p class="mb-4">45 Prince Fadina Street, Olodi-Apapa, Lagos state, Nigeria</p>

            <p class="mb-0 font-weight-bold">Phone</p>
            <p class="mb-4"><a href="#">+234 90 6118 0473</a></p>

            <p class="mb-0 font-weight-bold">Email Address</p>
            <p class="mb-0"><a href="#">nicsylvia15f@gmail.com</a></p>

          </div>
          
        </div>
      </div>
    </div>
  </div>

  
  </div>

{% endblock %}