{% extends 'public/frontend/base.html' %}

{% load static %}

{% block tittle %}
Service  Page
{% endblock %}

{% block content %}

<section class="home-slider owl-carousel img" style="background-image: url({% static 'public/frontend/images/bg_1.jpg' %});">

  <div class="slider-item" style="background-image: url({% static 'public/frontend/images/bg_3.jpg)' %};">
    <div class="overlay"></div>
    <div class="container">
      <div class="row slider-text justify-content-center align-items-center">

        <div class="col-md-7 col-sm-12 text-center ftco-animate">
          <h1 class="mb-3 mt-5 bread">Services</h1>
          <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'Home' %}">Home</a></span> <span>Services</span></p>
        </div>

      </div>
    </div>
  </div>
</section>

{% include 'public/frontend/admin-services.html' %}


<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 heading-section ftco-animate text-center">
        <h2 class="mb-4">Hot Foods</h2>
        <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
        <p class="mt-5">As the name implies, HOT FOODS!!!😋 We have you covered all round. Just reach out to us and send a message.</p>
      </div>
    </div>
    <div class="row">
      {% if meal %}
      {% for m in meal %}
      <div class="col-md-3 text-center ftco-animate">
        <div class="menu-wrap">
          <a href="#" class="menu-img img mb-4" style="background-image: url({{ m.get_snacks_image }});"></a>
          <div class="text">
            <h3><a href="#">{{ m.snacks_name  }}</a></h3>
            <p> {{ m.snacks_description }} </p>
            <p class="price"><span> {{ m.snacks_price}} </span></p>
            <p><a href="#" class="btn btn-white btn-outline-white">Order</a></p>
          </div>
        </div>
      </div>
      {% endfor %}
      {% endif %}

      {% if parfait %}
      {% for s in parfait %}
      <div class="col-md-3 text-center ftco-animate">
        <div class="menu-wrap">
          <a href="#" class="menu-img img mb-4" style="background-image: url({{ s.get_snacks_image }});"></a>
          <div class="text">
            <h3><a href="#"> {{ s.snacks_name }} </a></h3>
            <p> {{ s.snacks_description }} </p>
            <p class="price"><span>{{ s.snacks_price }}</span></p>
            <p><a href="#" class="btn btn-white btn-outline-white">Order!</a></p>
          </div>
        </div>
      </div>
      {% endfor %}
      {% endif %}
    
    </div>
  </div>
</section>


{% endblock %}